* {
	paading: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: courier new;
	color: #caa0f5;
}

body {
	padding: 15px;
	text-align: center;
	background: #230c33;
}

#canvas {
	background: #caa0f5;
	margin: 20px auto;
	border: 1px solid #990484;
	border-radius: 5px;
}

.btn-container {
	display: block;
	width: 40%;
	margin: 10px auto;
}

.button-left {
	float: left;
}

.button-right {
	float: right;
}
.reset {
	margin: 0 auto;
	width:85px;
}

.button-left, .button-right, .reset{
	display: block;
	padding: 20px 25px;
	font-size: 18px;
	border-radius: 5px;
	background: #caa0f5;
	color: #230c33;
}

.overlay {
	display: block;
	width: 500px;
	height: 500px;
	background: rgba(150, 50, 100, .3);
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-o-tranform: translate(-50%, 0);
	border-radius: 5px;
}

.play {
	padding: 20px 25px;
	margin: 25px auto;
	width: 90px;
	background: #330c33;
	border: 0;
	border-radius: 5px;
}

.overlay h3 {
	margin-top: 25%;
}

.overlay h3, .overlay p {
	color: #230c33;
}

.hide {
	opacity: 0;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
}

.show {
	opacity: 1;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
}